<ion-view title="Login" id="page4" style="" class="">
  <ion-nav-title>
      <!-- <img src="img/icon.png" width="30px" height="30px" > -->
	  <view-title ><i class="icon ion-key"></i> Login</view-title> 
  </ion-nav-title>
	


 <ion-content padding="true" class="has-header">
<div id="maincontainer">
  <div class="container"> 
  
  
    <div class="mt40">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h5 class="heading5">login</h5>
        <div class="loginbox">
          <form name="loginForm" ng-submit="loginForm.$valid && logIn()" class="form-vertical" novalidate>
            <fieldset>

<div class="list">
  
  <label class="item item-input">
    <span class="input-label">Email</span>
    <input type="text" ng-model="user.email" placeholder="Email" required>
  </label>

  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password" ng-model="user.password" placeholder="Password" required>
  </label>

</div>

              <div ng-show="error" class="alert alert-danger">
                <strong>Error!</strong> {{error}}
              </div>

              <div class="successmsg alert" ng-show="success">
                <strong>Login Successsfull !</strong> {{success}}
              </div>

              <a class="orange" href="#/forgotpassword" >Forgot Password</a> <br>
              <br>
              <button type="submit" class="btn btn-orange button-full ">Login</button>
              <hr>
            </fieldset>
          </form>
        </div>
      </div>
	  
	  </div>
	  
	  <div class="row">
	  
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="loginbox">
          <h5 class="heading5"> Register Account</h5>
          <p>By creating an account you will be able to find ads faster, be up to date with your account, and keep track of the ads you have previously posted.</p>
          <ul class="whyus">
            <li><i class="fa  fa-magic"></i> <span class="direname">Easy to Understand</span> </li>
            <li><i class="fa fa-arrow-right"></i> <span class="direname">Fast to Navigate</span> </li>
            <li><i class="fa fa-th"></i> <span class="direname">Lot of Options</span> </li>
            <li><i class="fa fa-search"></i><span class="direname">Quick Search</span> </li>
          </ul>
          <br>
          <br>
          <a  class="btn btn-orange button-full "  ui-sref="stutor.register">Continue</a> </div> <!--href="#/side-menu21/page3"-->
      </div>
	  
	  </div>
	  
    </div>
  </div>
<!-- Got to top -->
</div>

    </ion-content>
	
</ion-view>