body{
    font-size:14px;
}

.header-logo-img{
    width: 200px;
}

.menu-icon{
    margin-right: 10px;
}
.menu-info{
    margin-left: 25px;
}
.tabs{
    margin-top: 15px;
}
.li_inner_bullet_content{
    margin: 10px 15px;
}
