
<ion-view title="Home" id="page1" style="" class=" ">
  <ion-nav-title>
      <!-- <img src="img/icon.png" width="30px" height="30px" > -->
	  <view-title> <i class="icon ion-android-home"></i> Home</view-title> 
  </ion-nav-title>
	

<ion-content padding="true" class="manual-ios-statusbar-padding">

<section id="search">


</section>



    <div class="container col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="searchcontianer">

            <h1 class="heading1">Search for experienced teachers from all over the world. <span class="orange">Stutor.pk </span> </h1>
            <form name="SearchWidgetForm" class="form-inline" ng-controller="SearchWidgetController as SearchWidgetCtrl" ng-submit="SearchWidgetForm.$valid && SearchWidgetCtrl.searchNow(SearchWidgetCtrl.search)" novalidate>
                <div class="btn-group">
                    <input type="search" ng-model="SearchWidgetCtrl.search.text" placeholder="Search Here" class="form-control mainserarch" required>
                    <select class="category" ng-model="SearchWidgetCtrl.search.type">
                        <option value="both">Select Type</option>
                        <option value="students">Students</option>
                        <option value="tutors">Tutors</option>
                    </select>
                    <select class="category" ng-model="SearchWidgetCtrl.search.city">
                        <option value="all">Select City</option>
                        <option value="islamabad">Islamabad</option>
                        <option value="rawalpindi">Rawalpindi</option>
                        <option value="lahore">Lahore</option>
                    </select>
                    <br><br>
                    <input type="submit" value="Search" class="btn btn-orange tooltip-test mainserarchsubmit">
                </div>
            </form>
        </div>
     </div>
  
 <!--</section>--> 


        



<div id="maincontainer" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    <!-- Slider End-->
    <!-- Added by Uzair Ghauri @ 2016-09-01 16:19:00 -->
        <div class="mt40 col-md-8 col-md-offset-2" id="serchlist" ng-show="ad.length>0">
            <div class="searchresult list" style="display: block;">
                <ul>
                    <li class="clearfix" ng-repeat="x in ad.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ng-init="mywar ='#/tutionEdit/'+ x._id">
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                            <a class="thumbnail" href="detail.html"><img src={{x.imageUrl}} alt=""></a>
                            <div class="featured">Featured</div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-6 col-sm-6 col-xs-6" ng-init="title ='#/tutionDetail/'+ x._id ">
                            <h3><a class="title" href="{{title}}">{{x.title}} </a></h3>
                            <ul class="icondetail">
                                <li><i class="fa fa-map-marker"></i> Location : {{x.postedBy.geoLocation.address}}</li>
                                <li><i class="fa fa-th-list"></i> Availibility : <a href="#">{{x.availability | showAvailabilityFilter}}</a></li>

                                <li><i class="fa fa-th-list"></i> Course : <a ng-repeat="y in x.courses">{{y.text}},&nbsp;</a></li>
                                <li><i class="fa fa-user"></i> Posted by : <a>{{x.postedBy.name}}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- Paging-->
                <div>
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                        class="pagination-sm pull-right" boundary-links="true"
                        items-per-page="itemsPerPage">
                    </ul>
                    <div>
                        Show <select ng-model="viewby" ng-change="setItemsPerPage(viewby)" convert-to-number>
                        <option value="6">6 items per page</option>
                        <option value="9">9 items per page</option>
                        <option value="12">12 items per page</option>
                        <option value="15">15 items per page</option>
                    </select>
                    </div>
                </div>
            </div>
        </div>

    <div style="clear:both">

    </div>
    
    
    <!-- SEO Line-->
    <!--<div class="container mt20">
        <div class="seodetails">
            <h2 class="heading2"> Start Learning- 3 Easy Steps</h2>

        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <ul class="steps">
                <li class="col-sm-3">
                    <div class="step"><span class="stepcount">1</span><span>Select Course</span> <i class="fa fa-check-square-o pull-right"></i></div>
                </li>
                <li class="col-sm-4">
                    <div class="step"><span class="stepcount">2</span><span>Select Experience Level</span> <i class="fa fa-edit pull-right"></i></div>
                </li>
                <li class="col-sm-3">
                    <div class="step"><span class="stepcount">3</span><span>Select Time</span> <i class="fa fa-credit-card pull-right"></i></div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="container mt40" id="maincategory">
        <ul class="maincategory row">

            <li> <a href="listing.html"><i class="fa fa-briefcase c1"></i> <br>
                <span class="direname">FSc</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-envelope c2"></i> <br>
                <span class="direname">B.com</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-flask c3"></i> <br>
                <span class="direname">B.Tech</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c4"></i> <br>
                <span class="direname">B.Ed,</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-flask c5"></i> <br>
                <span class="direname">BS Physics</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c6"></i> <br>
                <span class="direname">BS Zoology</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c7"></i> <br>
                <span class="direname">Biology</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c8"></i> <br>
                <span class="direname">Chemistry</span></a> </li>

        </ul>
        <div class="clearfix"></div>
        -->
        <!--<a id="prevcat" class="prevcarousal" href="#">Previous</a> <a id="nextcat" class="nextcarosal">Next</a> </div>-->


    <!-- Directory Listing-->
    <div class="container mt40">
      
        <!--<div class="mt40">

                <!--Subject-->
                <div class="sidemodule">
                    <h2 class="heading5"><span class="maintext"> Search Filters</span></h2>
                    

                </div>
                <div class="sidemodule">
                    <h2 class="heading5"><span class="maintext"> Tution Method</span></h2>
                      <input type="radio" name="method" value=""> <b>Home tution</b><br>
                      <input type="radio" name="method" value=""> <b>Private Tution</b><br>
                      <input type="radio" name="method" value=""> <b>Group Tutuion</b>
                </div>
               
               <div class="sidemodule">
                    <h2 class="heading5"><span class="maintext"> Classes</span></h2>
                      <input type="text" name="class" value="" placeholder="Enter class name"><br>
                </div>   

               <div class="sidemodule">
                    <h2 class="heading5"><span class="maintext"> Courses</span></h2>
                      <input type="text" name="course" value="" placeholder="Enter course name"><br>
                </div>  

                
                    <!--<section id="main">
                        <input id="defaultSlider1" ng-model="searchOptions.range" type="range" min="{{minDistance}}"
                               max="{{maxDistance}}">
                        <p class="note">From: <span id="currentValue1">{{searchOptions.range}}</span> A.M</p>
                        

                         <input id="defaultSlider2" ng-model="searchOptions.range" type="range" min="{{minDistance}}"
                               max="{{maxDistance}}">
                        <p class="note">To: <span id="currentValue2">{{searchOptions.range}}</span> P.M</p>
                        <button type="button" class="pull-right" ng-click="searchBooks()">Search</button>
                    </section>

        </div>-->
    </div>

    <!-- Top Tutors-->
    <div class="container mt40">
        <h2 class="heading3">Top Tutors</h2>
        <div class="row mt40">
            <div class="column3 premiumlisting">
                <ul id="premiumlisting">
                    <li ng-repeat="x in leaders">
                        <a href="#/viewProfile/{{x._id}}">
                            <div class="container-top-tutor">
                                <div class="">
                                    <img src="{{x.profilePicUrl}}" class="top-tutor-pic" /> <!-- top-tutor-pic defined in css/style.css -->
                                </div>
                                <h4 class="top-tutor-name">{{x.name}}</h4> <!-- top-tutor-name defined in css/style.css -->
                                <div class="top-tutor-rating"> <!-- top-tutor-rating defined in css/style.css -->
                                  <ng-rating ng-model="x.rating"
                                             icon-class="'fa fa-mortar-board'"
                                             editable="false"
                                             stars-count="5"
                                             based-on="5"
                                             show-grade="false">
                                  </ng-rating>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <!-- <a id="prevpre" class="prepre" href="#">Previous</a> <a id="nextpre" class="nextpre" href="#">Next</a> -->
            </div>
        </div>
    </div>

</div>


    </ion-content>
</ion-view>