<div id="maincontainer">
    <!-- Slider Start-->
    <section id="search">

        <div class="container">
            <div class="searchcontianer">
                <!-- <a class="todayoffer"><span class="text1">Today's Offer</span><span class="text2">50% OFF</span></a> -->
                <h1 class="heading1">Search for experienced teachers from all over the world. <span class="orange">Stutor.pk </span> </h1>
                <form name="SearchWidgetForm" class="form-inline" ng-controller="SearchWidgetController as SearchWidgetCtrl" ng-submit="SearchWidgetForm.$valid && SearchWidgetCtrl.searchNow(SearchWidgetCtrl.search)" novalidate>
                    <div class="btn-group">
                        <input type="search" ng-model="SearchWidgetCtrl.search.text" placeholder="Search Here" class="form-control mainserarch" required>
                        <select class="category" ng-model="SearchWidgetCtrl.search.city">
                            <option value="all">Select City</option>
                            <option value="islamabad">Islamabad</option>
                            <option value="rawalpindi">Rawalpindi</option>
                            <option value="lahore">Lahore</option>
                        </select>
                        <input type="submit" value="Search" class="btn btn-orange tooltip-test mainserarchsubmit">
                    </div>
                </form>
            </div>
        </div>
        <a href="post-ad.html" class="postad"><span> <i class="fa fa-pencil"></i> Post An Ad</span></a> </section>
    <!-- Slider End-->
    <!-- SEO Line-->
    <div class="container mt20">
        <div class="seodetails">
            <h2 class="heading2"> Start Learning   -   3 Easy Steps</h2>
            <p class="metadetails"> Stutor allows you to learn anything, anywhere. Offering you experienced teachers from all over the world, providing interactive learning on flexible timings. Getting your dream education was never this easy.</p>
        </div>
    </div>
    <!-- Steps-->
    <div class="container">
        <div class="row">
            <ul class="steps">
                <li class="col-sm-4">
                    <div class="step"><span class="stepcount">1</span><span>Select Course</span> <i class="fa fa-check-square-o pull-right"></i></div>
                </li>
                <li class="col-sm-4">
                    <div class="step"><span class="stepcount">2</span><span>Select Experience Level</span> <i class="fa fa-edit pull-right"></i></div>
                </li>
                <li class="col-sm-4">
                    <div class="step"><span class="stepcount">3</span><span>Select Time</span> <i class="fa fa-credit-card pull-right"></i></div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Services-->
    <div class="container mt40" id="maincategory">
        <ul class="maincategory row">

            <li> <a href="listing.html"><i class="fa fa-briefcase c1"></i> <br>
                <span class="direname">FSc</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-envelope c2"></i> <br>
                <span class="direname">B.com</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-flask c3"></i> <br>
                <span class="direname">B.Tech</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c4"></i> <br>
                <span class="direname">B.Ed,</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-flask c5"></i> <br>
                <span class="direname">BS Physics</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c6"></i> <br>
                <span class="direname">BS Zoology</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c7"></i> <br>
                <span class="direname">Biology</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c8"></i> <br>
                <span class="direname">Chemistry</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c9"></i> <br>
                <span class="direname">Mathematics</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c10"></i> <br>
                <span class="direname">Calculus I</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c11"></i> <br>
                <span class="direname">Calculus II</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c12"></i> <br>
                <span class="direname">ICT</span></a> </li>
        </ul>
        <div class="clearfix"></div>
        <a id="prevcat" class="prevcarousal" href="#">Previous</a> <a id="nextcat" class="nextcarosal">Next</a> </div>
    <!-- Directory Listing-->
    <div class="container mt40">
        <h2 class="heading3">Course Listing</h2>
        <div class="mt40">
            <ul class="row clearfix">
                <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <section class="directorylist">
                        <div><i class="fa fa-desktop"></i><span class="directorytitle">O/A Levels </span></div>
                        <ul class="list">
                            <li><a href="listing.html">Accounting</a></li>
                            <li><a href="listing.html">Add Math</a></li>
                            <li><a href="listing.html">Business Studies</a></li>
                            <li><a href="listing.html">Chemistry</a></li>
                            <li><a href="listing.html">Commerce</a></li>
                            <li><a href="listing.html">Computer Studies</a></li>
                            <li><a href="listing.html">Economics</a></li>
                            <li><a href="listing.html">English</a></li>
                            <li><a href="listing.html">Islamiat</a></li>
                            <li><a href="listing.html">Pakistan Studies</a></li>
                        </ul>
                    </section>




                </li>

                <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <section class="directorylist">
                        <div><i class="fa fa-briefcase"></i><span class="directorytitle">Matric</span></div>
                        <ul class="list">
                            <li><a href="listing.html">Maths</a></li>
                            <li><a href="listing.html">Physics</a></li>
                            <li><a href="listing.html">Chemistry</a></li>
                            <li><a href="listing.html">Biology</a></li>
                            <li><a href="listing.html">English</a></li>
                            <li><a href="listing.html">Islamiat</a></li>
                            <li><a href="listing.html">Pakistan Studies</a></li>
                            <li><a href="listing.html">IT</a></li>
                        </ul>
                    </section>

                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <section class="directorylist">
                        <div><i class="fa fa-legal"></i><span class="directorytitle">B.Com/I.Com</span></div>
                        <ul class="list">
                            <li><a href="listing.html">Business Statistic & Mathematics</a></li>
                            <li><a href="listing.html">Computer Application in Business</a></li>
                            <li><a href="listing.html">Boats & Watercraft</a></li>
                            <li><a href="listing.html">Economics</a></li>
                            <li><a href="listing.html">Financial Accounting</a></li>
                            <li><a href="listing.html">Functional English</a></li>
                            <li><a href="listing.html">Introduction to Business</a></li>
                            <li><a href="listing.html">Money, Banking & Finance</a></li>
                            <li><a href="listing.html">Utility & Work Trailers</a></li>
                            <li><a href="listing.html">Islamic Studies</a></li>
                        </ul>
                    </section>

                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <section class="directorylist ">
                        <div><i class="fa fa-book"></i><span class="directorytitle">FSc</span></div>
                        <ul class="list">
                            <li><a href="listing.html">Mathematics</a></li>
                            <li><a href="listing.html">Physics</a></li>
                            <li><a href="listing.html">Chemistry</a></li>
                            <li><a href="listing.html">Biology</a></li>
                            <li><a href="listing.html">English</a></li>
                            <li><a href="listing.html">Islamiat</a></li>
                            <li><a href="listing.html">Pak Studies</a></li>

                        </ul>
                    </section>
                </li>
            </ul>
        </div>
    </div>

    <!-- Premium Listing-->
    <div class="container mt40">
        <h2 class="heading3">Premium Listing</h2>
        <div class="row mt40">
            <div class="column3 premiumlisting">
                <ul id="premiumlisting">
                    <li> <a href="listing.html" class="listing"> <img src="img/list1.jpg" alt=""> <span class="caption"  >Computer Listing</span> </a> </li>
                    <li> <a href="listing.html" class="listing"> <img src="img/list2.jpg" alt=""> <span class="caption"  >For Rent</span> </a> </li>
                    <li> <a href="listing.html" class="listing"> <img src="img/list3.jpg" alt=""> <span class="caption"  >For Pets</span> </a> </li>
                    <li> <a href="listing.html" class="listing"> <img src="img/list4.jpg" alt=""> <span class="caption"  >Mobiles</span> </a> </li>
                    <li> <a href="listing.html" class="listing"> <img src="img/list5.jpg" alt=""> <span class="caption"  >Camera Listing</span> </a> </li>
                    <li> <a href="listing.html" class="listing"> <img src="img/list6.jpg" alt=""> <span class="caption"  >Music Listing</span> </a> </li>
                    <li> <a href="listing.html" class="listing"> <img src="img/list3.jpg" alt=""> <span class="caption"  >Premium Listing</span> </a> </li>
                    <li> <a href="listing.html" class="listing"> <img src="img/list4.jpg" alt=""> <span class="caption"  >Premium Listing</span> </a> </li>
                </ul>
                <div class="clearfix"></div>
                <a id="prevpre" class="prepre" href="#">Previous</a> <a id="nextpre" class="nextpre" href="#">Next</a> </div>
        </div>
    </div>
</div>
