
<ion-view title="Home" id="page1" style="" class=" ">
  <ion-nav-title>
      <!-- <img src="img/icon.png" width="30px" height="30px" > -->
	  <view-title> <i class="icon ion-android-home"></i> Home</view-title> 
  </ion-nav-title>
	

<ion-content padding="true" class="manual-ios-statusbar-padding">

<!-- Slider Start-->
<section id="search">

    <div class="container">
        <div class="searchcontianer">
            <h1 class="heading1">Search for experienced teachers from all over the world. <span class="orange">Stutor.pk </span> </h1>
            <form name="SearchWidgetForm" class="form-inline" ng-controller="SearchWidgetController as SearchWidgetCtrl" ng-submit="SearchWidgetForm.$valid && SearchWidgetCtrl.searchNow(SearchWidgetCtrl.search)" novalidate>
                <div class="btn-group">
                    <input type="search" ng-model="SearchWidgetCtrl.search.text" placeholder="Search Here" class="form-control mainserarch" required>
                    
                    <select class="category" ng-model="SearchWidgetCtrl.search.type">
                        <option value="both">Select Type</option>
                        <option value="students">Students</option>
                        <option value="tutors">Tutors</option>
                    </select>

                    <select class="category" ng-model="SearchWidgetCtrl.search.city">
                        <option value="all">Select City</option>
                        <option value="islamabad">Islamabad</option>
                        <option value="rawalpindi">Rawalpindi</option>
                        <option value="lahore">Lahore</option>
                    </select>
                  
                    <input type="submit" value="Search" class="btn btn-orange tooltip-test mainserarchsubmit">
                </div>
            </form>
        </div>
    </div>
</section>



<div id="maincontainer">
    <!-- Slider End-->
    <!-- Added by Uzair Ghauri @ 2016-09-01 16:19:00 -->
        <div class="mt40 col-md-8 col-md-offset-2" id="serchlist" ng-show="ad.length>0">
            <div class="searchresult list" style="display: block;">
                <ul>
                    <li class="clearfix" ng-repeat="x in ad.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ng-init="mywar ='#/tutionEdit/'+ x._id">
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                            <a class="thumbnail" href="detail.html"><img src={{x.imageUrl}} alt=""></a>
                            <div class="featured">Featured</div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-6 col-sm-6 col-xs-6" ng-init="title ='#/tutionDetail/'+ x._id ">
                            <h3><a class="title" href="{{title}}">{{x.title}} </a></h3>
                            <ul class="icondetail">
                                <li><i class="fa fa-map-marker"></i> Location : {{x.postedBy.geoLocation.address}}</li>
                                <li><i class="fa fa-th-list"></i> Availibility : <a href="#">{{x.availability | showAvailabilityFilter}}</a></li>

                                <li><i class="fa fa-th-list"></i> Course : <a ng-repeat="y in x.courses">{{y.text}},&nbsp;</a></li>
                                <li><i class="fa fa-user"></i> Posted by : <a>{{x.postedBy.name}}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- Paging-->
                <div>
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                        class="pagination-sm pull-right" boundary-links="true"
                        items-per-page="itemsPerPage">
                    </ul>
                    <div>
                        Show <select ng-model="viewby" ng-change="setItemsPerPage(viewby)" convert-to-number>
                        <option value="6">6 items per page</option>
                        <option value="9">9 items per page</option>
                        <option value="12">12 items per page</option>
                        <option value="15">15 items per page</option>
                    </select>
                    </div>
                </div>
            </div>
        </div>

    <div style="clear:both">

    </div>
    <!-- SEO Line-->
    <div class="container mt20">
        <div class="seodetails">
            <h2 class="heading2"> Start Learning   -   3 Easy Steps</h2>
            <p class="metadetails"> Stutor allows you to learn anything, anywhere. Offering you experienced teachers from all over the world, providing interactive learning on flexible timings. Getting your dream education was never this easy.</p>
        </div>
    </div>
    <!-- Steps-->
    <!--<div class="container">
        <div class="row">
            <ul class="steps">
                <li class="col-sm-4">
                    <div class="step"><span class="stepcount">1</span><span>Select Course</span> <i class="fa fa-check-square-o pull-right"></i></div>
                </li>
                <li class="col-sm-4">
                    <div class="step"><span class="stepcount">2</span><span>Select Experience Level</span> <i class="fa fa-edit pull-right"></i></div>
                </li>
                <li class="col-sm-4">
                    <div class="step"><span class="stepcount">3</span><span>Select Time</span> <i class="fa fa-credit-card pull-right"></i></div>
                </li>
            </ul>
        </div>
    </div>-->
    <!-- Services-->
    <!--<div class="container mt40" id="maincategory">
        <ul class="maincategory row">

            <li> <a href="listing.html"><i class="fa fa-briefcase c1"></i> <br>
                <span class="direname">FSc</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-envelope c2"></i> <br>
                <span class="direname">B.com</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-flask c3"></i> <br>
                <span class="direname">B.Tech</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c4"></i> <br>
                <span class="direname">B.Ed,</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-flask c5"></i> <br>
                <span class="direname">BS Physics</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c6"></i> <br>
                <span class="direname">BS Zoology</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c7"></i> <br>
                <span class="direname">Biology</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c8"></i> <br>
                <span class="direname">Chemistry</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c9"></i> <br>
                <span class="direname">Mathematics</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c10"></i> <br>
                <span class="direname">Calculus I</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c11"></i> <br>
                <span class="direname">Calculus II</span></a> </li>
            <li> <a href="listing.html"><i class="fa fa-book c12"></i> <br>
                <span class="direname">ICT</span></a> </li>
        </ul>
        <div class="clearfix"></div>
        <a id="prevcat" class="prevcarousal" href="#">Previous</a> <a id="nextcat" class="nextcarosal">Next</a> </div>-->
    <!-- Directory Listing-->
    <div class="container mt40">
        <h2 class="heading3">Course Listing</h2>
        <div class="mt40">
            <ul class="row clearfix">
                <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <section class="directorylist">
                        <div><i class="fa fa-desktop"></i><span class="directorytitle">O/A Levels </span></div>
                        <ul class="list">
                            <li><a href="listing.html">Accounting</a></li>
                            <li><a href="listing.html">Add Math</a></li>
                            <li><a href="listing.html">Business Studies</a></li>
           
                        </ul>
                    </section>




                </li>

                <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <section class="directorylist">
                        <div><i class="fa fa-briefcase"></i><span class="directorytitle">Matric</span></div>
                        <ul class="list">
                            <li><a href="listing.html">Maths</a></li>
                            <li><a href="listing.html">Physics</a></li>
                            <li><a href="listing.html">Chemistry</a></li>
           
                        </ul>
                    </section>

                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <section class="directorylist">
                        <div><i class="fa fa-legal"></i><span class="directorytitle">B.Com/I.Com</span></div>
                        <ul class="list">
                            <li><a href="listing.html">Business Statistic & Mathematics</a></li>
                            <li><a href="listing.html">Computer Application in Business</a></li>
                            <li><a href="listing.html">Boats & Watercraft</a></li>
                 
                        </ul>
                    </section>

                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <section class="directorylist ">
                        <div><i class="fa fa-book"></i><span class="directorytitle">FSc</span></div>
                        <ul class="list">
                            <li><a href="listing.html">Mathematics</a></li>
                            <li><a href="listing.html">Physics</a></li>
                            <li><a href="listing.html">Chemistry</a></li>>

                        </ul>
                    </section>
                </li>
            </ul>
        </div>
    </div>
    <!-- Top Tutors-->
    <div class="container mt40">
        <h2 class="heading3">Top Tutors</h2>
        <div class="row mt40">
            <div class="column3 premiumlisting">
                <ul id="premiumlisting">
                    <li ng-repeat="x in leaders">
                        <a href="#/viewProfile/{{x._id}}">
                            <div class="container-top-tutor">
                                <div class="">
                                    <img src="{{x.profilePicUrl}}" class="top-tutor-pic" /> <!-- top-tutor-pic defined in css/style.css -->
                                </div>
                                <h4 class="top-tutor-name">{{x.name}}</h4> <!-- top-tutor-name defined in css/style.css -->
                                <div class="top-tutor-rating"> <!-- top-tutor-rating defined in css/style.css -->
                                  <ng-rating ng-model="x.rating"
                                             icon-class="'fa fa-mortar-board'"
                                             editable="false"
                                             stars-count="5"
                                             based-on="5"
                                             show-grade="false">
                                  </ng-rating>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <!-- <a id="prevpre" class="prepre" href="#">Previous</a> <a id="nextpre" class="nextpre" href="#">Next</a> -->
            </div>
        </div>
    </div>

</div>


    </ion-content>
</ion-view>