<ion-view title="Register" id="page5" style="" class="">
  <ion-nav-title>
      <!-- <img src="img/icon.png" width="30px" height="30px" > -->
	  <view-title><i class="icon ion-ios-compose"></i>Register</view-title> 
  </ion-nav-title>    
	
	
	<ion-content padding="true" class="has-header">
        <form id="register-form2" class="list ">
            <ion-list id="register-list3" class=" ">
                <label class="item item-input " id="register-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="register-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="register-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="register-button3" style="border-radius:-1px -1px -1px -1px;" class=" button button-assertive  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>