<div id="maincontainer">
  <div class="container"> 
    <!--  breadcrumb -->
    <ul class="breadcrumb">
      <li> <a href="/" >Home</a> </li>
      <li class="active">Register</li>
    </ul>
    <a href="#/post-ad" class="postadinner"><span> <i class="fa fa-pencil"></i> Post An Ad</span></a>
    <div class="mt40 row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h5 class="heading5">Register</h5>
        <div class="loginbox">
          <form ng-submit="register()" class="form-vertical" novalidate>
            <fieldset>
              <div class="control-group">
                <label  class="control-label">Full Name:</label>
                <div class="controls">
                  <input type="text" ng-model="user.name" required>
                </div>
              </div>
              <div class="control-group">
                <label  class="control-label">E-Mail Address:</label>
                <div class="controls">
                  <input type="text" ng-model="user.email" required>
                </div>
              </div>
              <div class="control-group">
                <label  class="control-label">Password:</label>
                <div class="controls">
                  <input type="password" ng-model="user.password" required>
                </div>
              </div>
              
			  <div class="control-group">
                <label  class="control-label">Confirm Password:</label>
                <div class="controls">
                  <input type="password" ng-model="user.confirmPassword" required>
                </div>
              </div>

              

              <div class="well"> 
              
              <div class="control-group">
                <label  class="control-label">Date of Birth:</label>
                <div class="controls">
                  <input type="text" id ="datepicker" datepicker ng-model="user.dob" required>

                </div>
              </div>
            </div>
                <div class="control-group">
                    <label class="control-label">You are a:</label>
                    <div class="controls">
                        <select ng-model="user.role" required>
                            <option value="teacher">Teacher</option>
                            <option value="student">Student</option>
                        </select>
                    </div>
                </div>

              <div class="control-group">
                <div class="">
                  <input type="checkbox" ng-model="user.agreedOnTerms" style="width:5%" required>I agree to Stutor <a href="#/terms">Terms & Conditions</a>
                </div>
              </div>

              <div class="errormsg alert" ng-show="error">
                <i class="fa fa-frown-o font36"></i>
                <strong>Error!</strong> {{error}}
              </div>

              <br>
              <button type="submit" class="btn btn-orange">Register</button>
            </fieldset>
          </form>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="loginbox">
          <h5 class="heading5"> Why Us</h5>
          <p>By creating an account you will be able to find ads faster, be up to date with your account, and keep track of the ads you have previously posted.</p>
          <ul class="whyus">
            <li><i class="fa  fa-magic"></i> <span class="direname">Easy to Understand</span> </li>
            <li><i class="fa fa-arrow-right"></i> <span class="direname">Fast to Navigate</span> </li>
            <li><i class="fa fa-th"></i> <span class="direname">Lot of Options</span> </li>
            <li><i class="fa fa-search"></i><span class="direname">Quick Search</span> </li>
          </ul>
          <br>
          <br>
          <a href="#/login" class="btn btn-orange">Login</a> </div>
      </div>
    </div>
  </div>
</div>