<ion-view title="Register" id="page3" style="" class="">
  <ion-nav-title>
    <!-- <img src="img/icon.png" width="30px" height="30px" > -->
    <view-title><i class="icon ion-ios-compose"></i> Register</view-title>
  </ion-nav-title>



  <ion-content padding="true" class="has-header">
 <div id="maincontainer">
  <div class="container"> 
    <!--  breadcrumb -->
    
    <div class="mt40 row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h5 class="heading5">Register</h5>
        <div class="loginbox">
		
          <form ng-submit="register()" class="form-vertical" novalidate>
            <fieldset>
                
              <div class="control-group">
                <label  class="control-label">Full Name:</label>
                <div class="controls">
                  <label class="item item-input">
                  <input type="text" ng-model="user.name" required>
                  </label>
                </div>
              </div>
         

              <div class="control-group">
                <label  class="control-label">E-Mail Address:</label>
                <div class="controls">
                  <label class="item item-input">
                  <input type="text" ng-model="user.email" required>
                </div>
                </label>
              </div>

              <div class="control-group">
                <label  class="control-label">Mobile Number:</label>
                <div class="controls">
                  <label class="item item-input">
                  <input type="text" ng-model="user.mobile" maxlength="11" placeholder="e.g 0333xxxxxxx" required >
                  </label>
                </div>
              </div>

              <div class="control-group">
                <label  class="control-label">Password:</label>
                <div class="controls">
                  <label class="item item-input">
                  <input type="password" ng-model="user.password" required>
                  </label>
                </div>
              </div>
              
			        <div class="control-group">
                <label  class="control-label">Confirm Password:</label>
                <div class="controls">
                  <label class="item item-input">
                  <input type="password" ng-model="user.confirmPassword" required>
                </label>
                </div>
              </div>

              <div class="well"> 
              
              <div class="control-group">
                <label  class="control-label">Date of Birth:</label>
                <div class="controls">
                  <!--<datepicker date-format="d/M/y">
                    <input type="text" datepicker ng-model="user.dob" required>
                  </datepicker>-->
                  <input type="date" 
                         ng-model="user.dob" 
                         ng-required="true" close-text="Close"/>   
                </div>
                
              </div>
              
            </div>
            
                <div class="control-group">
                    <label class="control-label">You are a:</label>
                    <div class="controls">
                        <select ng-model="user.role" required>
                            <option value="teacher">Teacher</option>
                            <option value="student">Student</option>
                        </select>
                    </div>
                </div>

              <div class="control-group">
                <label  class="control-label">Class:</label>
                <div class="controls">
                  <label class="item item-input">
                  <input type="text" ng-model="user.class" placeholder="Matric , Fsc " required>
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="">
                  <input type="checkbox" ng-model="user.agreedOnTerms" style="width:5%" required>I agree to Stutor <a href="#/terms">Terms & Conditions</a>
                </div>
              </div>

              <div class="errormsg alert" ng-show="error">
                <strong>Error!</strong> {{error}}
              </div>

              <div class="successmsg alert" ng-show="success">
                <strong>Registered Successsfully !</strong> {{success}}
              </div>

              <br>
              <button type="submit" class="btn btn-orange">Register</button>
            </fieldset>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>
  </ion-content>

</ion-view>